<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjkobe.db.dao.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.qjkobe.db.model.Client" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="pindex" property="pindex" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, username, password, company, phone, pindex, mail, avatar
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qjkobe.db.model.Client" >
    insert into client (cid, username, password, 
      company, phone, pindex, 
      mail, avatar)
    values (#{cid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pindex,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qjkobe.db.model.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="pindex != null" >
        pindex,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pindex != null" >
        #{pindex,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qjkobe.db.model.Client" >
    update client
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pindex != null" >
        pindex = #{pindex,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qjkobe.db.model.Client" >
    update client
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pindex = #{pindex,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>


  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from client
    where 1 = 1
    <if test="pojo != null and pojo.username != null and pojo.username != ''">
      and username = #{pojo.username,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.password != null and pojo.password != ''">
      and password = #{pojo.password,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.company != null and pojo.company != ''">
      and company = #{pojo.company,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.phone != null and pojo.phone != ''">
      and phone = #{pojo.phone,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.pindex != null and pojo.pindex != ''">
      and pindex = #{pojo.pindex,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.mail != null and pojo.mail != ''">
      and mail = #{pojo.mail,jdbcType=VARCHAR}
    </if>
    <if test="orderObj != null">
      order by
      <foreach collection="orderObj.orders" item="obj" separator=",">
        ${obj.orderName}  ${obj.orderSort}
      </foreach>
    </if>
    <if test="pager != null">
      limit ${pager.start}, ${pager.pageSize}
    </if>
  </select>

  <select id="selectCountByParam" resultType="int">
    select count(1)
    from client
    where 1 = 1
    <if test="pojo != null and pojo.username != null and pojo.username != ''">
      and username = #{pojo.username,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.password != null and pojo.password != ''">
      and password = #{pojo.password,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.company != null and pojo.company != ''">
      and company = #{pojo.company,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.phone != null and pojo.phone != ''">
      and phone = #{pojo.phone,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.pindex != null and pojo.pindex != ''">
      and pindex = #{pojo.pindex,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.mail != null and pojo.mail != ''">
      and mail = #{pojo.mail,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>