<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjkobe.db.dao.RouteMapper" >
  <resultMap id="BaseResultMap" type="com.qjkobe.db.model.Route" >
    <id column="rid" property="rid" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="daodatime" property="daodatime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, place, daodatime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from route
    where rid = #{rid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from route
    where rid = #{rid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qjkobe.db.model.Route" >
    insert into route (rid, place, daodatime
    )
    values (#{rid,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{daodatime,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.qjkobe.db.model.Route" >
    insert into route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="daodatime != null" >
        daodatime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="daodatime != null" >
        #{daodatime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qjkobe.db.model.Route" >
    update route
    <set >
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="daodatime != null" >
        daodatime = #{daodatime,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qjkobe.db.model.Route" >
    update route
    set place = #{place,jdbcType=VARCHAR},
    daodatime = #{daodatime,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=VARCHAR}
  </update>

  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from route
    where 1 = 1
    <if test="pojo != null and pojo.place != null and pojo.place != ''">
      and place = #{pojo.place,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.daodatime != null and pojo.daodatime != ''">
      and daodatime = #{pojo.daodatime,jdbcType=VARCHAR}
    </if>
    <if test="orderObj != null">
      order by
      <foreach collection="orderObj.orders" item="obj" separator=",">
        ${obj.orderName}  ${obj.orderSort}
      </foreach>
    </if>
    <if test="pager != null">
      limit ${pager.start}, ${pager.pageSize}
    </if>
  </select>

  <select id="selectCountByParam" resultType="int">
    select count(1)
    from route
    where 1 = 1
    <if test="pojo != null and pojo.place != null and pojo.place != ''">
      and place = #{pojo.place,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.daodatime != null and pojo.daodatime != ''">
      and daodatime = #{pojo.daodatime,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>