<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjkobe.db.dao.TGoodsDestMapper" >
  <resultMap id="BaseResultMap" type="com.qjkobe.db.model.TGoodsDest" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="gid" property="gid" jdbcType="VARCHAR" />
    <result column="dest" property="dest" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, gid, dest, nickname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_goods_dest
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_goods_dest
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qjkobe.db.model.TGoodsDest" >
    insert into t_goods_dest (id, cid, gid,
    dest, nickname)
    values (#{id,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{gid,jdbcType=VARCHAR},
    #{dest,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qjkobe.db.model.TGoodsDest" >
    insert into t_goods_dest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="dest != null" >
        dest,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="dest != null" >
        #{dest,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qjkobe.db.model.TGoodsDest" >
    update t_goods_dest
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=VARCHAR},
      </if>
      <if test="dest != null" >
        dest = #{dest,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qjkobe.db.model.TGoodsDest" >
    update t_goods_dest
    set cid = #{cid,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=VARCHAR},
      dest = #{dest,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_goods_dest
    where 1 = 1
    <if test="pojo != null and pojo.cid != null and pojo.cid != ''">
      and cid = #{pojo.cid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.gid != null and pojo.gid != ''">
      and gid = #{pojo.gid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.dest != null and pojo.dest != ''">
      and dest = #{pojo.dest,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.nickname != null and pojo.nickname != ''">
      and nickname = #{pojo.nickname,jdbcType=VARCHAR}
    </if>
    <if test="orderObj != null">
      order by
      <foreach collection="orderObj.orders" item="obj" separator=",">
        ${obj.orderName}  ${obj.orderSort}
      </foreach>
    </if>
    <if test="pager != null">
      limit ${pager.start}, ${pager.pageSize}
    </if>
  </select>

  <select id="selectCountByParam" resultType="int">
    select count(1)
    from t_goods_dest
    where 1 = 1
    <if test="pojo != null and pojo.cid != null and pojo.cid != ''">
      and cid = #{pojo.cid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.gid != null and pojo.gid != ''">
      and gid = #{pojo.gid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.dest != null and pojo.dest != ''">
      and dest = #{pojo.dest,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.nickname != null and pojo.nickname != ''">
      and nickname = #{pojo.nickname,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>